/* css reset start */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* css reset end */

/* home */

.homeMain {
  margin-top: 3.75rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.homePage {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #7a57fd 0%, #6135d7 50%);
  box-shadow: 4px 2px 14px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

/* title section */
.title {
  margin-bottom: 3.75rem;
}

.title h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
  line-height: 118.5%;
  letter-spacing: 0.06rem;
  color: #ffffff;
  font-weight: 400;
}

.title h1 span {
  display: block;
  font-weight: 700;
  color: #ffd74f;
}

.title p {
  display: none;
}

.btn {
  width: 100%;
  height: 3rem;
  background: #ffd74f;
  border-radius: 0.25rem;
  margin-bottom: 3.75rem;

  font-family: "Open Sans", sans-serif;

  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;

  color: #744ff4;
  cursor: pointer;

  transition: 0.2s;
}

.btn:hover {
  background: rgba(255, 215, 79, 0.9);
  letter-spacing: 0.1rem;
}

/* sombra 2 */
.homeImageEffect::before {
  content: "";

  background: linear-gradient(180deg, #864efd 0%, rgba(134, 78, 253, 0) 100%);
  transform: rotate(-21.37deg);
  width: 13.01rem;
  height: 25.98rem;
  border-radius: 0% 100% 0% 100% / 50% 50% 50% 50%;

  position: absolute;
  top: 2.6rem;
  left: 0.55rem;

  z-index: 1;
}

/* sombra1 */
.homeImageEffect {
  background: linear-gradient(
    180deg,
    rgba(255, 234, 164, 0) 3.65%,
    #ffeaa4 100%
  );

  width: 13.01rem;
  height: 25.98rem;
  border-radius: 0% 100% 0% 100% / 50% 50% 50% 50%;

  position: relative;
  top: 2rem;

  margin-left: 5.515rem;
  z-index: 1;
}

/* principal */

.homeImageEffect::after {
  content: "";

  background-image: url(https://images.unsplash.com/photo-1590650516494-0c8e4a4dd67e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80);
  background-position: center;

  width: 13.01rem;
  height: 25.98rem;
  border-radius: 0% 100% 0% 100% / 50% 50% 50% 50%;

  position: absolute;
  top: -1.3rem;
  left: 3rem;
  z-index: 1;
}

.dots {
  position: relative;
  left: 30rem;
  top: 31rem;
}

.homeImageEffect2 {
  display: none;
  position: absolute;
  left: 300px;
}

footer {
  background: #200e64;
  position: relative;

  width: 100%;
  height: 6.125rem;
}

/* media querie */
@media (min-width: 1440px) {
  .homeMain {
    margin-top: 10.43rem;
    margin-left: 41.5rem;
    margin-right: 10.81rem;
  }

  .homePage {
    height: 1120px;
    width: 100vw;
    overflow: hidden;
  }

  /* title section */
  .title h1 {
    margin-bottom: 3.75rem;
    font-size: 3rem;
  }

  .title p {
    display: block;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    line-height: 1.91rem;
    width: 31rem;
    color: white;
  }

  .homeImageEffect {
    top: 15rem;
    height: 47.93rem;
    width: 24rem;
    border-radius: 0px 32rem 0 32rem;
    position: absolute;
  }

  .homeImageEffect:after {
    height: 47.93rem;
    width: 24rem;
    border-radius: 0px 32rem 0 32rem;
  }

  .homeImageEffect:before {
    top: 4.55rem;
    left: 0.95rem;
    height: 47.93rem;
    width: 24rem;
    border-radius: 0px 32rem 0 32rem;
    transform: rotate(-21.37deg);
  }

  .homeImageEffect2 {
    display: flex;
    left: 80rem;
    top: -60.5rem;
    position: relative;
  }

  .homeImageEffect2 .homeImageEffect:after {
    opacity: 0;
  }

  footer {
    height: 302px;
  }
}
